

ErrorDocument 404 /students/mbendorf/error404.html

# AddType and AddHandler can be instructed to parse .html files as .php
AddType application/x-httpd-php .html
AddHandler application/x-httpd-php .html