.inner-content > div {
  width: 80%;
  padding-left: 2em;
}

.inner-content > div a {
  color: #007BFF;
}

.inner-content > div img {
  margin: 5px;
  max-width: 95%;
}

.inner-content > div h2 {
  margin: 0.5em 0;
}

.inner-content > div h2:first-child {
  font-size: 3em;
  font-weight: 300;
  margin: 10px;
  text-shadow: 2px -2px 5px gray;
}

.inner-content > div .contblock {
  background: #f7f7f9;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
}

.inner-content > div .contblock:first-of-type a {
  color: #000;
}

.inner-content > div .contblock ul,
.inner-content > div .contblock ol {
  padding-left: 1.8em;
}

.inner-content > div .contblock li {
  position: relative;
}

.inner-content > div .contblock li .iconfont {
  position: absolute;
  left: -20px;
  top: 0;
}

@media screen and (max-width: 800px) {
  .inner-content {
    padding: 1em;
  }
  .inner-content > div {
    padding-left: 0;
    width: 100%;
  }
  .inner-content h2 {
    font-size: 1.5em;
  }
  .inner-content .contblock {
    padding: 0.5em;
  }
}

@media print {
  /*Print Styling: Hiding Elements*/
  #big-nav {
    border-bottom: 1px solid #000;
  }
  #big-nav a {
    text-decoration: none;
  }
  #big-nav a[href^="http"], #big-nav .input-group {
    display: none;
  }
  #lecture-menu {
    display: none;
  }
  .inner-content {
    overflow-y: visible;
    padding: 0;
    /* Printout Page Control*/
    /*Print Styling: Re-styling Visuals*/
    /*Print Styling: Display Hyperlink Data*/
    /* add URL info to external links */
  }
  .inner-content > div {
    padding: 0;
    width: 100%;
  }
  .inner-content > div a {
    color: #000;
  }
  .inner-content > div h2 {
    margin: 0;
  }
  .inner-content > div h2:first-child {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0;
  }
  .inner-content > div h2:nth-of-type(7), .inner-content > div h2:nth-of-type(9), .inner-content > div h2:nth-of-type(11),
  .inner-content > div h2:nth-of-type(12) + .contblock h3:nth-of-type(3), .inner-content > div h2:nth-of-type(16),
  .inner-content > div h2:nth-of-type(17) + .contblock h3:nth-of-type(3) {
    page-break-before: always;
  }
  .inner-content > div .contblock {
    padding: 0;
  }
  .inner-content > div .contblock:first-of-type a {
    text-decoration: none;
  }
  .inner-content body {
    /* floating is not advised for printers */
    float: none;
    /* let the printer set margins */
    width: auto;
    margin: 0;
    padding: 0;
    /* dont display background colors or images */
    background: none;
  }
  .inner-content a:link,
  .inner-content a:visited {
    /* make link text stand out */
    text-decoration: underline;
    font-weight: bold;
  }
  .inner-content a[href^="http"]:after {
    content: " (URL: " attr(href) ") ";
  }
}