.inner-content {
    &>div {
        width: 80%;
        padding-left: 2em;
        a {
            color: #007BFF;
        }
        img {
            margin: 5px;
            max-width: 95%;
        }
        h2 {
            margin: 0.5em 0;
            &:first-child {
                font-size: 3em;
                font-weight: 300;
                margin: 10px;
                text-shadow: 2px -2px 5px gray;
            }
        }
        .contblock {
            background: #f7f7f9;
            padding: 1em;
            border-radius: 10px;
            box-shadow: 2px 2px 5px grey;
            &:first-of-type a {
                color: #000;
            }
            ul,
            ol {
                padding-left: 1.8em;
            }
            li {
                position: relative;
                .iconfont {
                    position: absolute;
                    left: -20px;
                    top: 0;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .inner-content {
        padding: 1em;
        &>div {
            padding-left: 0;
            width: 100%;
        }
        h2 {
            font-size: 1.5em;
        }
        .contblock {
            padding: 0.5em;
        }
    }
}

@media print {
    // @media screen and (min-width:1000px){
    /*Print Styling: Hiding Elements*/
    #big-nav {
        border-bottom: 1px solid #000;
        a{
            text-decoration: none;
        }
        a[href^="http"],.input-group{
            display: none;
        }
    }
    #lecture-menu {
        display: none;
    }

    .inner-content {
        overflow-y: visible;
        padding: 0;
        &>div {
            padding: 0;
            width: 100%;
            a {
                color: #000;
            }
            h2 {
                margin: 0;
                &:first-child {
                    font-size: 2.2rem;
                    font-weight: 300;
                    margin: 0;
                }
                &:nth-of-type(7),
                &:nth-of-type(9),
                &:nth-of-type(11),
                &:nth-of-type(12)+.contblock h3:nth-of-type(3),
                &:nth-of-type(16),
                &:nth-of-type(17)+.contblock h3:nth-of-type(3)
                {
                    page-break-before: always;
                }
            }
            .contblock {
                padding: 0;
                &:first-of-type a {
                    text-decoration: none;
                }
            }
        } // Print Styling: Re-styling Layout
        body {
            /* floating is not advised for printers */
            float: none;
            /* let the printer set margins */
            width: auto;
            margin: 0;
            padding: 0;
            /* dont display background colors or images */
            background: none;
        }
        /* Printout Page Control*/

        /*Print Styling: Re-styling Visuals*/
        a:link,
        a:visited {
            /* make link text stand out */
            text-decoration: underline;
            font-weight: bold;
        }
        /*Print Styling: Display Hyperlink Data*/
        /* add URL info to external links */
        a[href^="http"]:after {
            content: " (URL: " attr(href) ") ";
        }
    }
}
