/*Creators (in alphabetical order): Daniel Joo, Ivan Chen, Mijael Bendorf*/

body {
    background: #CCCCCC;
}

a:hover, li {
    text-decoration: none;
}


/*NAVIGATION STYLING*/


nav {
    background-color: #F7F7F7;
    height: 60px;
    width: 100%;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
}

#nav-logo-title {
    justify-self: start;
    justify-content: flex-start;
    align-items: center;
}

#nav-logo-title img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#nav-logo-title h1 {
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #9C9C9C;
    margin-left: 15px;
}

#nav-selections {
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
}

#nav-selections a {
    margin-left: 15px;
    margin-right: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #5E5C5C;
    transition: color 0.3s;
}

#nav-selections a:hover {
    color: #9C9C9C;
    transition: color 0.3s;
}

#nav-selections input {
    margin-left: 15px;
    width: 15vw;
}

#nav-selections input::placeholder {
    font-family: Helvetica, sans-serif;
    color: #9C9C9C;
}

#nav-selections input, #nav-selections select, #nav-selections textarea{
    font-family: Helvetica, sans-serif;
    color: #5E5C5C;
}

#nav-selections textarea:focus, #nav-selections input:focus {
    font-family: Helvetica, sans-serif;
    color: #5E5C5C;
}

#nav-selections button {
    margin-right: 20px;
}


/*LECTURE SIDE MENU STYING*/


#lecture-menu {
    width: 20vw;
    min-width: 200px;
    height: 92.1875vh;
    background-color: white;

}

#lecture-menu-flex {
    flex-direction: column;
}

#lecture-menu-flex li {
    margin: 12px 0;
}

#lecture-menu h2 {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #9C9C9C;
    text-align: center;
    padding-top: 20px;
}

#lecture-menu hr {
    text-align: center;
    color: #F7F7F7;
    width: 70%;
}

#lecture-menu-title ul {
    margin: 10px;
}

#lecture-menu-flex a{
    padding-left: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

#lecture-menu-flex .complete {
    padding-left: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #9C9C9C;
    transition: color 0.3s;
}

#lecture-menu-flex .complete:hover {
    color: #bababa;
    transition: color 0.3s;
}

#lecture-menu-flex .incomplete {
    color: #459CFF;
    transition: color 0.3s;
}

#lecture-menu-flex .incomplete:hover {
    color: #67bfff;
    transition: color 0.3s;
}






/*change at 750







