/*Creators (in alphabetical order): Daniel Joo, Ivan Chen, Mijael Bendorf*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************************CODE*********************************************************/

body {
    background: #CCCCCC;
}

a:hover, li {
    text-decoration: none;
}


/*NAVIGATION STYLING*/


nav {
    background-color: #F7F7F7;
    height: 60px;
    width: 100%;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
}

#nav-logo-title {
    justify-self: start;
    justify-content: flex-start;
    align-items: center;
}

#nav-logo-title img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#nav-logo-title h1 {
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #9C9C9C;
    margin-left: 15px;
}

#nav-selections {
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
}

#nav-selections a {
    margin-left: 15px;
    margin-right: 15px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #5E5C5C;
}

#nav-selections input {
    margin-left: 15px;
}

#nav-selections button {
    margin-right: 20px;
}


/*LECTURE SIDE MENU STYING*/


#lecture-menu {
    width: 22vw;
    height: 92.1875vh;
    background-color: white;
}

#lecture-menu-flex {
    flex-direction: column;
}

#lecture-menu-flex li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#lecture-menu-title {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    color: #9C9C9C;
    text-align: center;
}

#lecture-menu-title ul {
    margin: 10px;
}

#lecture-menu-flex a {
    text-align: left;
}















